.setting-container {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .setting-header {
    padding: 16px;

    button {
      width: 100%;
      padding: 12px;
      background-color: #f2f2f2;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      color: #333;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .setting-content {
    padding: 16px;

    .lang-item,
    .theme-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 12px;

      img {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }

      span {
        flex-grow: 1;
        font-weight: 500;
        color: #333;
      }

      select {
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        font-weight: 500;
        color: #333;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
      }
    }
  }
}
