/* Light theme variables */
:root {
  --primary-color: #3d88ed; /* Màu chủ đạo */
  --bg-color: #f8f9fa; /* Màu nền */
  --text-color: #4d4d4d; /* Màu chữ */
  --hover-color: #5a99f7; /* Màu khi hover */
}
/* Dark theme variables */
[data-theme="dark"] {
  --primary-color: #1a73e8;
  --bg-color: #343a40;
  --text-color: #ffffff;
  --hover-color: #4d90fe;
}
