.about-container {
  background-image: linear-gradient(rgb(248, 250, 252), rgba(0, 0, 0, 0));
  color: #020817;
  line-height: 24px;
  padding: 72px 93.6px;
  .about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    line-height: 24px;

    span {
      font-size: 22px;
      font-weight: 600;
      color: #3d88ed;
    }
  }
  .about-title {
    h1 {
      color: #020817;
      font-size: 48px;
      font-weight: 600;
      line-height: 72px;
      text-align: center;
    }
  }
  .about-description,
  .about-content {
    p {
      color: #666;
      font-size: 16px;
      line-height: 24px;
      margin: 32px 0px 0px;
      text-align: center;
    }
  }
}
