.language-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #ffffff;
  border-radius: 20px;

  .language-select {
    display: flex;
    align-items: center;
    gap: 10px;

    &.source,
    &.target {
      background-color: #f0f0f0;
      border-radius: 20px;
      padding: 5px 10px;
    }

    &.target {
      margin-left: 40px; // Tạo khoảng cách với nút swap
    }

    .lang-button {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: none;
      background: none;
      cursor: pointer;
      border-radius: 15px;
      transition: background-color 0.3s;
      font-weight: bold;
      .lang-button-text {
        color: #666;
      }

      &:hover,
      &.active {
        background-color: #ffffff;
        .lang-button-text {
          color: #3d88ed;
        }
      }

      img,
      .circle-flag {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .dropdown {
      padding: 5px;
      border-radius: 50%;
    }
  }

  .swap-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
    }
  }
  .swap-button.disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

.language-select-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  z-index: 1000;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;

    h2 {
      font-size: 20px;
      color: #333;
    }

    .close-button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .search-bar {
    padding: 20px;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 20px;
      font-size: 16px;
    }
  }

  .language-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    overflow-y: auto;

    .lang-button {
      display: flex;
      align-items: center;
      padding: 10px;
      border: none;
      background: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover,
      &.active {
        background-color: #f0f0f0;
      }

      .circle-flag {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .language-select-modal .language-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .language-select-modal .language-list {
    grid-template-columns: 1fr;
  }
}
