.auth-container {
  display: flex;
  height: 100vh;

  .auth-image {
    flex: 1;
    background-image: url("../../assets/auth/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .world-map {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
    }
  }

  .auth-form {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;

    &.show {
      transform: translateX(0);
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@include responsive(tablet) {
  .auth-container {
    flex-direction: column;

    .auth-image {
      flex: 0 0 40%;

      h1 {
        font-size: 3rem;
      }
    }

    .auth-form {
      flex: 0 0 60%;
    }
  }
}

@include responsive(mobile) {
  .auth-container {
    .auth-image {
      flex: 0 0 30%;

      h1 {
        font-size: 2rem;
        top: 10%;
      }
    }

    .auth-form {
      flex: 0 0 70%;
      padding: 1rem;
    }
  }
}
