@import "../components/products/addfeatures";
@import "../components/products/langselect";
@import "../components/products/translatearea";
@import "../components/products/recordtotranslate";

.products-page {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
