@import "../components/products/addfeatures";
@import "../components/products/langselect";
@import "../components/products/translatearea";
@import "../components/products/recordtotranslate";
@import "../components/products/historymodal";

.products-page {
  position: relative;
  width: 100%;
  padding: 20px;
  &.history-open .main-content {
    margin-right: 300px;
  }
}

.products-content {
  transition: width 0.3s ease-in-out;

  .history-open & {
    width: calc(100% - 400px);
  }
}
