@import "../components/products/additionalfeatures";
@import "../components/products/languageselector";
@import "../components/products/translationarea";
@import "../components/products/recordtotranslate";

.products-page {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
