.hero-container {
  background-position: 50% 50%;
  background-color: #fafafa;
  background-image: url("https://middo.app/landing-page/hero.png");
  background-size: contain;
  color: #020817;
  display: flex;
  flex-direction: row-reverse;
  line-height: 24px;
  padding: 108px 93.6px 48px;

  .video-container {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 24px;

    video {
      width: 80%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .hero-content {
    align-items: flex-start;
    color: #020817;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 24px;
    margin: 32px 32px 0px 0px;

    .title1 {
      font-size: 64px;
      font-family: __Open_Sans_af7b73;
      text-align: left;
      font-weight: 700;
      line-height: 96px;
      color: #020817;
    }
    .title2 {
      font-size: 64px;
      font-family: __Open_Sans_af7b73;
      text-align: left;
      font-weight: 700;
      line-height: 96px;
      color: #3d88ed;
    }
    .title3 {
      color: #666;
      font-family: __Open_Sans_af7b73;
      line-height: 24px;
      margin: 32px 0px 0px;
      text-align: left;
    }

    .title4 {
      button {
        align-items: center;
        background-color: #3d88ed;
        border-radius: 12px;
        color: #fff;
        display: inline-flex;
        font-family: __Open_Sans_af7b73;
        font-weight: 500;
        justify-content: center;
        line-height: 24px;
        padding: 16px 28px;
        text-align: center;
      }
    }
  }
}
