.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-content-wrapper {
  flex: 1;
  overflow-y: auto;
  position: relative;
}
.main-content {
  transition: margin-right 0.3s ease-in-out;
}
