$primary-color: #3d88ed;
$secondary-color: #666;
$background-color: #fafafa;
$text-color: #020817;
$border-color: #e5e5e5;

$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;

$border-radius: 8px;
$padding-base: 12px;
