@import "variables";
@import "layout";

// Components
@import "components/auth/auth";
@import "components/navbar/navbar";
@import "components/setting/settings";

// Pages
@import "pages/auth";
@import "pages/homepage";
@import "pages/product";

body {
  font-family: Arial, sans-serif;

  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}
