.home-page {
  .hero-container {
    background-position: 50% 50%;
    background-color: #fafafa;
    background-image: url("https://middo.app/landing-page/hero.png");
    background-size: contain;
    color: #020817;
    display: flex;
    flex-direction: row-reverse;
    line-height: 24px;
    padding: 24px 74.4px 24px;

    .video-container {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      line-height: 24px;
      width: 55%;
      padding: 0 0 32px;
      position: relative;
      .custom-video-player {
        margin: 48px 0 0 48px;
        width: 115%;
        border-radius: 12px;

        &::-webkit-media-controls-panel {
          display: flex !important;
          opacity: 1 !important;
        }
      }
    }

    .hero-content {
      align-items: flex-start;
      color: #020817;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 24px;
      margin: 32px 32px 0 0;

      .text-content {
        width: 85%;
        h1 {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          height: 250px;
        }

        .changing-text {
          font-size: 64px;
          display: flex;
          text-align: left;
          font-weight: 700;
          line-height: 96px;
          transition: opacity 0.5s ease-in-out;

          &.first {
            color: #020817;
          }
          &.second {
            color: #3d88ed;
          }
          &.fade-out {
            opacity: 0;
          }
        }

        p {
          font-size: 16px;
          color: #666;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }

      .download-btn {
        .icon {
          margin-right: 8px;
        }
        border: none;
        font-style: normal;
        align-items: center;
        background-color: #3d88ed;
        border-radius: 12px;
        color: #fff;
        display: inline-flex;
        font-weight: 500;
        justify-content: center;
        line-height: 24px;
        padding: 16px 28px;
        text-align: center;
        margin-top: 16px;
      }
    }
  }

  .solutions-section {
    .solution-cards {
    }
  }

  .help-center {
  }

  .about-us {
  }

  .ready-start {
  }

  .footer {
  }
}
